page-import-appcharges{
    .scroll-content{
          overflow-x: scroll !important;
        }
}

page-import-AWB-tracking{
  .text-input{
    text-align: end;
  }
}

page-import-IGM{
  .text-input{
    text-align: end;
  }
}

page-import-Issue-DO{
  .text-input{
    text-align: end;
  }
}