.margin10{
    margin-top: 10px;
}

// .toolbar-background {
//     // background-color: #F36F23;
//     background-color: #1EA1CC;
//   }

  .imgClassDashboard{
    background-color:white;
     border-bottom:solid 2px;
    //  border-color:#F36F23;
     border-color: #1EA1CC;
    //  margin-top: 10px;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
      color: #ffffff !important;
  }

  .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover){
    color: #ffffff !important;
  }
  .fontSize12{
    font-size: 1.3rem;
  }

  .padding8{
    padding: 8px;
  }

  .margin12{
    margin-top: 12px;
  }

  .marginSet{
    padding-left: 14px;
    margin: 12px 0px 11px 0px !important;
  }

  

//   input[type="text"]
// {
//     font-size:1.2rem;
// }

ion-label[fixed]{
  font-size:1.2rem !important;
}

.ion-fab34{
  width: 34px !important;
height: 34px !important;
}

.margin4{
  margin-top: 4px;
}

ion-content.content-md[padding] .scroll-content {
	padding-bottom: 16px !important;
}

ion-content.content-md:not([padding]) .scroll-content {
	padding-bottom: 0 !important;
}

.paddingAlignHeader{
      padding: 4px 20px 0px 53px;
}

.button-designed-radius {
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
}

.alert-title{
  font-size: 1.5rem !important;
  text-align: center;
}

.alert-md .alert-head{
  color: #ffffff;
  // background-color: #F36F23;
  background-color: #1EA1CC;
  padding: 20px 24px 20px !important;
}
.select-md .select-icon .select-icon-inner{
  // color: #F36F23 !important;
  color: #1EA1CC !important;
}
.select-text{
  font-size: 1.3rem !important;
}

.width34{
  width: 34%
}

.padding14{
  padding: 14px !important;
}

.details_text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-align: justify;
}
.item-md{
  background-color: beige !important;
}
.list-ios .item-block .item-inner{
  // border-bottom: 0.55px solid #f36f23 !important;
  border-bottom: 0.55px solid #1EA1CC !important;
}

main-menu{
  .customIcon {
    font-size: 1.7em;
}
.slide-zoom{
  height: 100%;
}
}

#notification-button {
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}


.notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}

.notifications-badge-update{
  background-color: red;
  position: absolute;
  top: 5px;
  right: 4px;
  border-radius: 100%;
}

.segment-md .segment-button{
  color: white !important;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
  border-color: white !important;
}

.segment-ios .segment-button.segment-activated{
  background-color: inherit !important;
}

.segment-ios .segment-button{
  color: initial ;
  border-color: initial ;
}

.marginTop44{
  margin-top: 44px
}

.toolbar-md{
  min-height: 30px !important;
}

.target-class {
  // width: 20px;
  background-color: #b8f2fa !important;
}



.shake {
	display:inline-block
}
.shake {
	display:block;
	position:relative;
}


@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

