


<style>
  tr {
    border-color: black !important;
    height: 30px!important;
    /* border-width: 1px; */
}
</style>


<ion-header>

  <ion-navbar>
    <ion-title>Un-scanned AWB's</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row style="margin-top: 10px;" *ngIf="hasRows == true">
    <ion-grid>
      <ion-row justify-content-start>
        <table id="tblNews" border="0.5"
          style="width:100%;table-layout:fixed;word-break:break-word;border-color: transparent;margin-top: 2%;">
          <thead>
            <tr>
              <th height="30" style="background-color:#ebebeb;padding: 3px 3px 3px 0px;font-size:14px ; width: 100px;" align="center">
                MAWB No.
              </th>
              <th height="30" style="background-color:#ebebeb;padding: 3px 3px 3px 0px;font-size:14px;" align="center">
                SB No.
              </th>
              <th height="30" style="background-color:#ebebeb;padding: 3px 3px 3px 0px;font-size:14px;" align="center">
                HAWB No.
              </th>

              <th height="30" style="background-color:#ebebeb;padding: 3px 3px 3px 0px;font-size:14px;" align="center">
               Pieces
              </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usn of tableData" >
              <td style="background-color:#f3f3f3;font-size:14px" align="center">{{ usn.al_awbnumber_c }}
              </td>
              <td style="background-color:#f3f3f3;font-size:14px" align="center">{{ usn.SDA_SBNo_C }}
              </td>
              <td style="background-color:#f3f3f3;font-size:14px" align="center">{{ usn.SDA_HAWBNo_C }}
              </td>
              <td style="background-color:#f3f3f3;font-size:14px" align="center">{{ usn.SDA_PackageCount_I }}
              </td>
            </tr>
          </tbody>
        </table>
      </ion-row>
    </ion-grid>
  </ion-row>

</ion-content>