<style>
  /* .select-md {
    padding: 0px 0px 0px 15px !important;
  }

  ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible !important;
    max-width: 100% !important;
  }

  .itemClass {
    background-color: #1EA1CC !important;
    border-radius: 10px !important;
    color: #fff !important;
  } */



  /* ion-icon {
    color: #fff !important;
    float: right;
  } */

  .itemClass {
    background-color: #1EA1CC !important;
    border-radius: 10px !important;
    color: #fff !important;
  }



  ion-icon {
    color: #fff !important;
    float: right;
  }

  ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100%;
}
  .select-text1-new {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 96px;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: pre-wrap  !important; 
}

  .button-designed-radius_smallb {
    /* padding: 0 6rem !important; */
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 3.2rem !important;
    width: 90px !important;
  }

  .button-designed-radius_bigb {
    /* padding: 0 6rem !important; */
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 3.2rem !important;
    width: 150px !important;
  }

  .button-designed-radius {
    padding: 0 6rem !important;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 3.2rem !important;

    width: 150px !important;
  }
</style>
<ion-header>


  <ion-navbar>
    <ion-title>Screening</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col col-10>
      <ion-item>
        <ion-label floating>
          Scan AWB
        </ion-label>
        <ion-input type="text" class="fontSize12" (ionChange)="switchAWB($event)" (blur)="scanAWBNO();"
          [(ngModel)]="awbno" name="awbnoAcc" maxlength="16"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-2 style="margin-top: 20px;">
      <button ion-fab class="ion-fab34" (click)="getAwbDetails()">
        <ion-icon name="md-search" class="margin4"></ion-icon>
      </button>
    </ion-col></ion-row>

  <ion-row>
    <ion-col col-6 style="padding: 0%;">
      <ion-item>
        <ion-label floating>
          Pieces
        </ion-label>
        <ion-input type="text" name="pieces" type="number" pattern="[0-9]*" maxlength="20" [disabled]="true" 
          [(ngModel)]="pieces"></ion-input></ion-item>
    </ion-col>

    <ion-col col-6 style=" padding: 0px 0px 0px 10px;">
      <ion-item>
        <ion-label floating>
          GR. WT.
        </ion-label>
        <ion-input type="text" name="grwt" maxlength="20" type="number" pattern="[0-9]*" [disabled]="true" 
          [(ngModel)]="grwt"></ion-input></ion-item>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col col-6 style="padding: 0%;">
      <ion-item>
        <ion-label floating>
          Origin
        </ion-label>
        <ion-input type="text" name="org" maxlength="20" [(ngModel)]="origin" [disabled]="true" ></ion-input></ion-item>
    </ion-col>

    <ion-col col-6 style=" padding: 0px 0px 0px 10px;">
      <ion-item>
        <ion-label floating>
          Destination
        </ion-label>
        <ion-input type="text" name="dest" [(ngModel)]="destination" [disabled]="true" ></ion-input></ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6 style="padding: 0%;">
      <ion-item>
        <ion-label floating>
          Screened Pieces
        </ion-label>
        <ion-input type="text" name="scpcs" maxlength="20" [(ngModel)]="screenedp" [disabled]="true" ></ion-input></ion-item>
    </ion-col>

    <ion-col col-6 style=" padding: 0px 0px 0px 10px;">
      <ion-item>
        <ion-label floating>
          Unscreened Pieces
        </ion-label>
        <ion-input type="text" name="uscpcs" [(ngModel)]="uscreenedp" [disabled]="true" ></ion-input></ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 10px;">
    <ion-col col-5 style=" padding: 0px 0px 0px 15px;">
      <ion-label>
        Screening Method
      </ion-label>
    </ion-col>
    <ion-col col-7 style=" padding: 0px 0px 0px 10px;">
      <ion-item>
        <ion-select color="primary" placeholder="Select" multiple="false" text-center name="screeningm"
        [(ngModel)]="screeningmethod" (ionChange)="setScreeningMethod($event)">

        <ion-option *ngFor="let dt of scanningMethod; let idx = index"  [value]="dt.Identifier">{{dt.DataText}}</ion-option>

      </ion-select>
        <!-- <ion-select color="primary" placeholder="Select" text-center name="screeningm" [(ngModel)]="screeningmethod"
          multiple="false">(ionChange)="fetchDamageType($event)"
          <ion-option value="1">X-Ray equipment</ion-option>
          <ion-option value="2">Physical Inspection and/or hand search</ion-option>
          <ion-option value="3">Visual check</ion-option>
          <ion-option value="4">Explosive detection system</ion-option>
          <ion-option value="5">Remote explosive scent tracing explosive detection dogs</ion-option>
          <ion-option value="6">Free running explosive detection dogs</ion-option>
          <ion-option value="7">Vapor trace</ion-option>
          <ion-option value="8">Particle trace</ion-option>
          <ion-option value="9">Metal Detection Equipment</ion-option>
          <ion-option value="10">Subjected to flight simulation</ion-option>
          <ion-option value="11">Subjected to any other means</ion-option>
        </ion-select> -->
      </ion-item></ion-col>

  </ion-row>


  <ion-row style="margin-top: 10px;">
    <ion-col col-5 style=" padding: 0px 0px 0px 15px;">
      <ion-label>
        Security Status
      </ion-label>
    </ion-col>
    <ion-col col-7 style=" padding: 0px 0px 0px 10px;">
      <ion-item>
        <ion-select color="primary" placeholder="Select" text-center name="securitys" [(ngModel)]="securitystatus"
          multiple="false">
          <!-- <ion-option *ngFor="let eqtr of filteredList">{{eqtr.LD_LocationCode_C}}</ion-option> -->
          <!-- <ion-option value="0">SS 1</ion-option>
          <ion-option value="1">SS 2</ion-option> -->
          <ion-option *ngFor="let dt of securityStatus; let idx = index"  [value]="dt.Identifier">{{dt.DataText}}</ion-option>


          <!-- <ion-option value="1">SPX</ion-option>
          <ion-option value="2">SCO</ion-option>
          <ion-option value="3">SHR</ion-option>
          <ion-option value="4">Not Secured</ion-option> -->

        </ion-select>
      </ion-item></ion-col>

  </ion-row>

  <ion-row style="margin-top: 10px;">
    <ion-col col-5 style=" padding: 0px 0px 0px 15px;">
      <ion-label>
        Security Type
      </ion-label>
    </ion-col>
    <ion-col col-7 style=" padding: 0px 0px 0px 10px;">
      <ion-item>
        <ion-select color="primary" placeholder="Select" text-center name="securityt" [(ngModel)]="securitytype"
          multiple="false"   >
          <!-- <ion-option *ngFor="let eqtr of filteredList">{{eqtr.LD_LocationCode_C}}</ion-option> -->
          <!-- <ion-option value="0">ST 1</ion-option>
          <ion-option value="1">ST 2</ion-option> -->
          <ion-option *ngFor="let dt of securityType; let idx = index"  [value]="dt.DataText">{{dt.DataText}}</ion-option>

<!-- 
          <ion-option value="1">Unknown Cargo</ion-option>
          <ion-option value="2">Known Cargo</ion-option>
          <ion-option value="3">Exempt Cargo</ion-option> -->

        </ion-select>
      </ion-item></ion-col>

  </ion-row>


  <ion-row style="margin-top: 10px;">
    <ion-col col-5 style=" padding: 0px 0px 0px 15px;">
      <ion-label>
        Exempt Cargo
      </ion-label>
    </ion-col>
    <ion-col col-7 style=" padding: 0px 0px 0px 10px;">
      <ion-item>
        <ion-select color="primary" [disabled]="isExemptCargoDisabled()"  placeholder="Select" text-center name="exempt" [(ngModel)]="exemptc"
          multiple="false">
          <!-- <ion-option *ngFor="let eqtr of filteredList">{{eqtr.LD_LocationCode_C}}</ion-option> -->
          <!-- <ion-option value="0">EC 1</ion-option>
          <ion-option value="1">EC 2</ion-option> -->
          <ion-option *ngFor="let dt of exemptCargo; let idx = index"  [value]="dt.Identifier">{{dt.DataText}}</ion-option>


          <!-- <ion-option value="1">Small Undersized Shipments</ion-option>
          <ion-option value="2">Mail</ion-option>
          <ion-option value="3">Bio-Medical Samples</ion-option>
          <ion-option value="4">Diplomatic Bags Or Diplomatic Mail</ion-option>
          <ion-option value="5">Life-Saving Materials</ion-option>
          <ion-option value="6">Nuclear Materials</ion-option>
          <ion-option value="7">Transfer Or Transshipment</ion-option> -->
        </ion-select>
      </ion-item></ion-col>

  </ion-row>


  <ion-row style="margin-bottom: 10px;margin-top: 10px;">

    <button id="btnClear" class="button-designed-radius" ion-button (click)="clearAllValues()">
      Clear
    </button>

    <button id="btnNext" class="button-designed-radius" ion-button (click)="openNextForm()">
      Next
    </button>

  </ion-row>

  
  <ion-row style="margin-bottom: 10px;margin-top: 10px;">

    <button id="btnExit" class="button-designed-radius" ion-button (click)="exitForm()">
      Exit
    </button>

    <button id="btnCancelcarting" class="button-designed-radius"  [disabled]="isFinalSubmitDisabled()"  ion-button (click)="saveDataFinal()">
      Final Submit
    </button>

    <!-- <button id="btnHold" class="button-designed-radius" ion-button (click)="holdunhold()">
      Hold
    </button> -->

  </ion-row>

</ion-content>