<style>
  .toolbar-background {
    background-color: #DE1D1B !important;
  }

  .fab-md {
    background-color: #DE1D1B !important;
  }

  .alert-md .alert-head {
    background-color: #DE1D1B !important;
  }

  .vtsummery {

    background: red;
    color: #fff;
    padding-left: 10px;

  }

  td,
  th {
    white-space: nowrap;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
</style>
<Gmax-header [title]="title" [isCSC]="true">
</Gmax-header>
<ion-content class="marginTop44">
  <div>
    <!-- <ion-row> -->
    <div center text-center class="imgClassDashboard">
      <img src="assets/imgs/csc.jpg" width="100%">
    </div>
    <!-- </ion-row> -->
  </div>
  <div>
    <form (ngSubmit)="GetAWBTrackingDetails();">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-label color="primaryCsc" class="fontSize12 marginSet" fixed>MAWB No.
                <font color="red" class="margin12">*</font>
              </ion-label>
            </ion-col>
            <ion-col ion-item col-3>
              <ion-input type="tel" class="fontSize12" [(ngModel)]="Prefix" placeholder="Prefix" name="prefix"
                pattern="[0-9]*" maxlength="5" (ionChange)="focusNextInput()" #PrefixValue></ion-input>
            </ion-col>
            <!-- <ion-col col-1></ion-col> -->
            <ion-col ion-item col-4>
              <ion-input type="tel" class="fontSize12" [(ngModel)]="MAWBNo" placeholder="MAWB No." name="MAWBNo"
                pattern="[0-9]*" maxlength="8" #MAWBNoValue></ion-input>
            </ion-col>
            <ion-col col-2>
              <button ion-fab class="ion-fab34">
                <ion-icon name="md-search" class="margin4"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>

    <!-- <ion-list> -->
    <div *ngIf="showDiv">
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">ASI</ion-label>
        <ion-input type="text" class="fontSize12" name="ASI" [(ngModel)]="timeStampASI" placeholder="Action awaiting"
          [disabled]="true" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">CO Request</ion-label>
        <ion-input type="text" class="fontSize12" name="CO Request" [(ngModel)]="timeStampCORequest"
          placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">CO Approval</ion-label>
        <ion-input type="text" class="fontSize12" name="CO Approval" [(ngModel)]="timeStampCOApproval"
          placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">TSP</ion-label>
        <ion-input type="text" class="fontSize12" name="TSP" [(ngModel)]="timeStampTSP" placeholder="Action awaiting"
          [disabled]="true" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">Truck Departure <br>from Export Warehouse</ion-label>
        <ion-input type="text" class="fontSize12" name="TDWH" [(ngModel)]="_DEHDateDA" placeholder="Action awaiting"
          [disabled]="true" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">Cargo Acceptance</ion-label>
        <ion-input type="text" class="fontSize12" name="Cargo Acceptance" placeholder="Action awaiting"
          [(ngModel)]="TDGAcceptance" [disabled]="true" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">LEO</ion-label>
        <ion-input type="text" class="fontSize12" name="LEO" placeholder="Action awaiting" [(ngModel)]="LeoConfirmed"
          [disabled]="true" text-right></ion-input>
      </ion-item>
      <!-- <ion-item>
                    <ion-label color="primaryCsc" class="fontSize12">Security</ion-label>
                    <ion-input type="text" class="fontSize12" name="Security" placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
                </ion-item> -->
      <!-- <ion-item>
                    <ion-label color="primaryCsc" class="fontSize12">BAG</ion-label>
                    <ion-input type="text" class="fontSize12" name="BAG" placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
                </ion-item> -->
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">RCS</ion-label>
        <ion-input type="text" class="fontSize12" name="RCS" placeholder="Action awaiting" [(ngModel)]="BAGAcceptance"
          [disabled]="true" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primaryCsc" class="fontSize12">EGM</ion-label>
        <ion-input type="text" class="fontSize12" name="EGM" placeholder="Action awaiting" [(ngModel)]="EGM"
          [disabled]="true" text-right></ion-input>
      </ion-item>
      <br>
      <br>
      <br>

        <ion-grid style="margin-top: -20px !important;">
        <ion-row justify-content-start>

          <table id="tblNews" border="1">
            <thead>

              <tr>
                <td height="30" colspan="4" class="vtsummery">
                  Temperature Tracking
                </td>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #cfd8dc;">
                <th height="30">
                  Event
                </th>
                <th height="30">
                  Date
                </th>
                <th height="30">
                  Time
                </th>
                <th height="30">
                  Temp (C)
                </th>

              </tr>
              <tr *ngFor="let rtData of TempData">
                <td height="30" style="padding: 5px !important;">
                  {{ rtData.Event }}
                </td>
                <td height="30" style="padding: 5px !important;">
                  {{ rtData. Dt}}
                </td>
                <td height="30" style="padding: 5px !important;">
                  {{rtData.DtTime}}
                </td>
                <td height="30" style="padding: 5px !important;">
                  {{ rtData.Temp}}
                </td>

              </tr>

            </tbody>
          </table>
        </ion-row>
      </ion-grid>



      <!-- </ion-list> -->
      <!-- <ion-grid style="margin-top: -20px !important;">
        <ion-row justify-content-start>

          <table id="tblNews" border="1">
            <thead>

              <tr>
                <td height="30" colspan="5" class="vtsummery">
                  Routing Details
                </td>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #cfd8dc;">
                <th height="30">
                  Origin
                </th>
                <th height="30">
                  Dest.
                </th>
                <th height="30">
                  Flight No. & Date
                </th>
                <th height="30">
                  Departure Date & Time (LT)
                </th>
                <th height="30">
                  Arrival Date & Time (LT)
                </th>
              </tr>
              <tr *ngFor="let rtData of routingData">
                <td height="30" style="padding: 5px !important;">
                  {{ rtData.Origin}}
                </td>
                <td height="30" style="padding: 5px !important;">
                  {{ rtData.Destination}}
                </td>
                <td height="30" style="padding: 5px !important;">
                  {{rtData.Carriercode  +' ' + rtData.FlightNo +' : '+ rtData.FlightDate}}
                </td>
                <td height="30" style="padding: 5px !important;">
                  {{ rtData.DepartureDate +' '+ rtData.DepartureTime1 +':' + rtData.ArrivalTime11}}
                </td>
                <td height="30" style="padding: 5px !important;">
                  {{ rtData.ArrivalDate +' : '+  rtData.ArrivalTime1 +':' + rtData.ArrivalTime11}}
                </td>
              </tr>

            </tbody>
          </table>
        </ion-row>
      </ion-grid> -->
      <!-- <ion-list> -->
      <!-- <ion-item>
                <ion-label color="primaryCsc" class="fontSize12">Pkgs. / Unit</ion-label>
                <ion-input type="text" class="fontSize12" name="pkgs" [(ngModel)]="AWBResponse.ActualPackageCount[0]"
                    placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primaryCsc" class="fontSize12">Gross Wt. / Unit</ion-label>
                <ion-input type="text" class="fontSize12" name="grosswt" [(ngModel)]="AWBResponse.ActualGrossWt[0]"
                    placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primaryCsc" class="fontSize12">Charge Wt. / Unit</ion-label>
                <ion-input type="text" class="fontSize12" name="chargewt" [(ngModel)]="AWBResponse.ActualNetWt[0]"
                    placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primaryCsc" class="fontSize12">Commodity</ion-label>
                <ion-input type="text" class="fontSize12" name="commodity" [(ngModel)]="AWBResponse.Commodity[0]"
                    placeholder="Action awaiting" [disabled]="true" text-right></ion-input>
            </ion-item> -->




    </div>
    <!-- </ion-list> -->
    <br>
    <br>
    <br>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>
<ion-fab right bottom #fab1 style="bottom:38px !important">
  <button class="pop-in" ion-fab mini color="primaryCsc" [ngClass]="{'pop-out': fabGone}" (click)="clearInputs()">
    <ion-icon name="close"></ion-icon>
  </button>
</ion-fab>
<Gmax-footer [isCSC]="true"></Gmax-footer>
