<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  .upper td,
  th {
    padding: 0.5rem;
    border: solid thin #1EA1CC;
  }

  .tblMilestone td,
  th {
    border: 1px solid #999;
    padding: 0.2rem;

  }

  .flightdetail {
    background-color: #1EA1CC !important;
    border-radius: 10px !important;
    color: #fff !important;
    border-bottom: none;
  }

  .ioniconclassstatus {
    color: #000000 !important;
    float: center !important;
    font-size: 30px;
    line-height: 1.5;
  }

  .ioniconclass {
    color: #fff !important;
    float: right;
  }
</style>
<Gmax-header [title]="title">
</Gmax-header>

<ion-content class="marginTop44">
  <div>

    <!-- <ion-row> -->
    <!-- <div center text-center class="imgClassDashboard">
      <img src="assets/imgs/CSIAGVKlogo.jpg" width="100%">
    </div> -->
    <!-- </ion-row> -->
  </div>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <table class="upper">
            <tr>
              <td *ngIf="vehicleDetail[0].TokenNo[0].slice(0,3) != 'IPH' && vehicleDetail[0].TokenNo[0].slice(0,3) != 'ITR'">
                Vehicle Number
              </td>
              <td *ngIf="vehicleDetail[0].TokenNo[0].slice(0,3) == 'IPH'">
                Delivery
              </td>
              <td *ngIf="vehicleDetail[0].TokenNo[0].slice(0,3) == 'ITR'">
                Trolley Number
              </td>
              <!-- <td *ngIf="vehicleDetail[0].TokenNo[0].slice(0,3) != 'IPH'">
                {{vehicleDetail[0].VehicleNo}}
              </td> -->
              <td *ngIf="vehicleDetail[0].TokenNo[0].slice(0,3) == 'IVT'">
                {{vehicleDetail[0].VehicleNo}}
              </td>
              <td *ngIf="vehicleDetail[0].TokenNo[0].slice(0,3) == 'ITR'">
                {{vehicleDetail[0].VehicleNo[0].split("--").join(" ")}}
              </td>

              <td *ngIf="vehicleDetail[0].TokenNo[0].slice(0,3) == 'IPH'">
                By Hand
              </td>
            </tr>
            <tr>
              <td>
                Token Number
              </td>
              <td>
                {{vehicleDetail[0].TokenNo}}
              </td>

              <!-- <td *ngIf="vehicleDetail[0].VehicleNo == '-- -- -- ----'">
                By hand
              </td> -->
            </tr>

            <tr>
              <td>
                Warehouse
              </td>
              <td>
                {{vehicleDetail[0].Shed[0].split(',')[0]}}
              </td>

          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <table style="width: 157%;">
            <tr>
              <td>
                <span style="margin-left:10px;">GP List</span>
              </td>
              <td>
                <span style="margin-left: 92px;">Details</span>
              </td>
              <td>
             <span style="margin-right: 57px;">Remove</span>
              </td>
            </tr>
          </table>
        </ion-col>

      </ion-row>
      <ion-row *ngFor="let gpData of vehicleDetail;index as i;">
        <ion-col col-10
          (click)='goGPDetailAndBarCode(gpData.VehicleNo,gpData.TokenNo,gpData.HAWBNo,gpData.MAWBNo,gpData.GPNo);'>
          <ion-item class="item flightdetail" href="#">
            {{gpData.MAWBNo}}&nbsp;&nbsp;{{gpData.HAWBNo}}
            <ion-icon class="ioniconclass" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <div class="item" *ngIf="IsMultipleGP == 'Y'"
            (click)="ImpCancelToken_HHT_GPDeatched(gpData.VehicleNo,gpData.TokenNo,gpData.HAWBNo,gpData.MAWBNo,gpData.GPNo);">
            <ion-icon class="ioniconclassstatus" ios="ios-trash-outline" md="md-trash"></ion-icon>
          </div>

          <div class="item" *ngIf="IsMultipleGP == 'N'"
            (click)="showMsgOnDetach()">
            <ion-icon class="ioniconclassstatus" ios="ios-trash-outline" md="md-trash"></ion-icon>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button (click)="GoToVtDetail();" ion-button block icon-start style="margin-top: 20px !important;">
          Back to Active Tokens
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</ion-content>
<!-- <ion-fab right bottom #fab1 style="bottom:38px !important">
  <button class="pop-in" ion-fab mini color="primary" [ngClass]="{'pop-out': fabGone}" (click)="clearInputs()">
    <ion-icon name="close"></ion-icon>
  </button>
</ion-fab> -->
<Gmax-footer></Gmax-footer>
